
body {
	background-color: #FDFEFE;
}

nav {

}

li {
	font-family: Times;
	font-size: 20px;
	text-decoration-color: white;
	font-weight: bold;
}

img {
	float: left;
	 border-radius: 50%;

}

h1, h2 {
	font-family: Georgia;
}

#bottomBanner {
		height: 15%;
		margin-top: 20px;
		padding-left: 12%;
		
}


.socialmedia {

		padding-right: 20px;
}

p {

font-family: 'Lato', sans-serif;
font-size: 25px;
}