
body {
	background-color: #FDFEFE;
}

nav {

}

li {
	font-family: Times;
	font-size: 20px;
	text-decoration-color: white;
	font-weight: bold;
}

img {
	float: left;
	 border-radius: 50%;

}

h1, h2 {
	font-family: Georgia;
}

#footer {
		height: 15%;
		margin-top: 20px;
	
}


.socialmedia {

		padding-right: 20px;
}